/* Colors */
$body-background: #f7f7f7;
$accessory-background: #eee;

$red: #f88;
$green: #93c13e;
$blue: #88f;
$yellow: #ff8;
$light-grey: #dbdbdb;
$grey: #777;
$dark-grey: #333;

/* Fonts */
$serif-fonts: "skolar-1", "skolar-2", serif;
$sans-serif-fonts: "ronnia-1", "ronnia-2", sans-serif;
$monospace-fonts: "inconsolata-1", monospace;

/* Layout */
$body-font-size: 0.875em;
$body-line-spacing: 1.3;

$page-margins: 0 auto;
$page-padding: 1em 1.5em;
$page-width: 720px;

$logo-font-size: 2em;
$logo-bottom-margin: 0.3em;

$post-bottom-margin: 2em;
$post-border-spacing: 0.25em;
$post-border-padding: 3 * $post-border-spacing;
$post-title-font-size: 1.25em;
$post-title-marker-left-margin: -0.125em;
$post-title-marker-right-margin: 0.5em;

$post-block-margin: 0.6em 0;
$post-block-border-margin: -0.9375em;
$post-block-border-padding: -1 * $post-block-border-margin - 0.1875em;
$post-block-border-indented-padding: $post-block-border-padding + 1.3125em;

$accessory-block-padding: 0.125em 0.5em;
$accessory-block-bottom-margin: 1em;

$inline-code-padding: 0.125em;
$horizontal-rule-border-width: 0.1875em;
$archive-link-top-margin: -1 / 2 * $post-bottom-margin;
$archive-link-bottom-margin: 1 / 2 * $post-bottom-margin;
