// Imports
@import "compass/reset";
@import "constants";

// Global Styling
body {
	background-color: $body-background-color;
	font-family: serif;
	font-size: $body-font-size;
	line-height: $body-line-spacing;
	text-shadow: $body-text-shadow;
}

// Page Elements
a {
	color: $grey;
	text-decoration: none;

	&:hover {
		color: $green;
		-moz-transition: $link-transition;
		-o-transition: $link-transition;
		-webkit-transition: $link-transition;
		transition: $link-transition;
	}
}

blockquote, q {
	border-left: solid $red;
	color: $grey;
	font-style: italic;
	margin: $post-block-margin;
	margin-left: $post-block-border-margin;
	padding-left: $post-block-border-indented-padding;
}

code {
	background: $accessory-background-color;
	font-family: monospace;
	padding: $inline-code-padding;
}

em {
	font-style: italic;
}

hr {
	background: $light-grey;
	border: none;
	border-bottom: solid $horizontal-rule-border-width $light-grey;
	color: $light-grey;
}

img {
	border-left: solid $dark-grey;
	margin: $post-block-margin;
	margin-left: $post-block-border-margin;
	max-width: 100%;
	padding-left: $post-block-border-padding;
	text-align: center;
}

ol {
	background: $accessory-background-color;
	border-left: solid $green;
	list-style: decimal;
	margin: $post-block-margin;
	margin-left: $post-block-border-margin;
	padding: $accessory-block-padding;
	padding-left: $post-block-border-indented-padding;
}

p {
	margin: $post-block-margin;
}

pre {
	background: $accessory-background-color;
	border-left: solid $blue;
	display: block;
	margin: $post-block-margin;
	margin-left: $post-block-border-margin;
	overflow: scroll;
	padding: $accessory-block-padding;
	padding-left: $post-block-border-padding;
}

ul {
	@extend ol;
	padding-left: $post-block-border-padding;
	list-style: none;
}

// Containers
.container {
	margin: $page-margins;
	max-width: $page-width;
	padding: $page-padding;
}

.accessory {
	background: $accessory-background-color;
	padding: $accessory-block-padding;
	margin-bottom: $accessory-block-bottom-margin;
}

// Logo
#logo {
	font-size: $logo-font-size;
	margin-bottom: $logo-bottom-margin;
	text-align: center;

	#firstname {
		color: $grey;
	}

	#lastname {
		color: $green;
	}
}

// Blog Elements
.post {
	margin-bottom: $post-bottom-margin;

}

.post-content {
	border-left: $post-border-spacing solid $light-grey;
	padding-left: $post-border-padding;
}

.post-date {
	color: $grey;
}

.post-tags {
	color: $grey;
	display: block;
	float: right;
}

.post-title {
	display: block;
	font-family: sans-serif;
	font-size: $post-title-font-size;
	font-weight: bold;
	width: 100%;

	a {
		color: black;

		&:hover {
			color: $green;
		}
	}

	.marker {
		color: black;
		margin-left: $post-title-marker-left-margin;
		margin-right: $post-title-marker-right-margin;
	}
}

// Archive
#archive {
	border-left: $post-border-spacing solid $green;
	padding-left: $post-border-padding;

	#archive-post {
		margin: $archive-post-margin;
	}
}

#archive-link {
	font-style: italic;
	margin-bottom: $archive-link-bottom-margin;
	margin-top: $archive-link-top-margin;
	text-align: center;
}
