<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>{{ page.title }}</title>
		<meta name="author" content="Itai Ferber" />
		<meta name="description" content="{{ page.description }}" />

		<link href="https://feeds.feedburner.com/itaiferber-net/feed" rel="alternate" type="application/atom+xml" title="itaiferber.net RSS Feed" />

		<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="https://use.typekit.com/wea6afy.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	<body>
		<div id="container">
			<header>
				<div id="logo">
					<a href="/">
						<span id="firstname">itai</span><span id="lastname">ferber</span>
					</a>
				</div>
				<div id="bio" class="accessory">
					<p>Hi! My name is Itai. I'm a Mac and iOS developer, mostly. You can find me on <a href="https://github.com/itaiferber" title="GitHub">GitHub</a> and <a href="https://twitter.com/itaiferber" title="Twitter">Twitter</a>. If you're looking for a professional profile, you can take a look at my <a href="http://careers.stackoverflow.com/itaiferber" title="StackOverflow Careers">StackOverflow Careers</a> page. If you want to contact me, feel free to <a href="mailto:hi@itaiferber.net" title="Email Me">send me an email</a>.</p>
				</div>
			</header>

			{{ content }}

			<footer class="accessory">
				<p>This site runs thanks to the generous folks at GitHub. Feel free to poke through its <a href="https://github.com/itaiferber/itaiferber.github.com" title="itaiferber.github.com">contents</a>. All writing on this site is provided under the <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/" title="Creative Commons BY-NC-ND License">Creative Commons BY-NC-ND</a> license. Code is shared under the <a href="http://opensource.org/licenses/mit-license.php" title="MIT License">MIT License</a>. Enjoy!</p>
			</footer>
		</div>
	</body>
</html>
